.header {
  background-image: url(../images/header-bg2.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 480px;

  @media (min-width: 744px) {
    background-image: url(../images/header-bg2.png);
     min-height: 628px;
   }

   @media (min-width: 1260px) {
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../images/header-bg.png);
    min-height: 711px;
   }

  &__title {
  min-width: 279px;
  font-size: 36px;
  margin-top: 270px;
  margin-left: 24px;

  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @media (min-width: 744px) {
    font-size: 64px;
    margin-top: 306px;
    margin-left: 72px;
  }

  @media (min-width: 1260px) {
    max-width: 672px;
    font-size: 80px;
    margin-top: 300px;
    margin-left: 294px;
  }
 }
}
