.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;
  color: #FFF;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
  max-width: 279px;
  font-size: 36px;
  margin: 0 auto;
  padding-bottom: 40px;

  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @media (min-width: 744px) {
    max-width: 400px;
    font-size: 48px;
  }

  @media (min-width: 1260px) {
    max-width: 672px;
    font-size: 80px;
    padding-bottom: 208px;
    padding-inline: 294px;
  }
  }
}
