  .nav {
    &__list {
      color: #1D1D1D;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 28px;
      flex-direction: column;
    }

    &__link {
      display: block;
      width: fit-content;
      color: inherit;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 1px;
      text-underline-offset: 8px;
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 2px;
      transition: text-decoration-color 0.3s;

      &:hover {
        text-decoration-color: currentcolor;
      }
    }
}

 .menu__nav {
   margin-bottom: 40px;
 }
