.page {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;

   background-color: #1D1D1D;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;
  }

  &__menu:target {
  opacity: 1;
  pointer-events: all;
 }
}





