.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;

  @include on-tablet {
    padding: 36px 72px;
  }

  @include on-desktop {
    padding: 36px 120px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__logo {
    width: 130px;
    height: 38px;
    background-size: cover;

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }
}

.logo--light {
  background-image: url(../images/logo-light.png);
}

.logo--black {
  background-image: url(../images/logo-black.png);
}

.icon {
  position: relative;

  &__phone {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-right: 8px;
    white-space: nowrap;
    color: #fff;

    opacity: 0;
    transform: translate(20px, -50%);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
  }

  &--call:hover &__phone {
    opacity: 1;
    transform: translate(0, -50%);
    pointer-events: auto;
  }
}