
.top-bar {
  margin-left: 24px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 744px) {
    margin-left: 72px;
    margin-top: 36px;
  }

  @media (min-width: 1260px) {
    margin-left: 120px;
    margin-top: 36px;
  }
  &__icons{
   display: flex;
   align-items: center;
   gap: 24px;
   margin-right: 20px;

     @media (min-width: 744px) {
      margin-right: 72px;
      gap: 32px;
     }

     @media (min-width: 1260px) {
      margin-right: 120px;
      margin-top: 48px;
      gap: 32px;
  }




  }

  &__logo {
  height: 38px;
  width: 130px;
  background-size: cover;

    @media (min-width: 744px) {
    height: 56px;
    width: 187px;
   }

  @media (min-width: 1260px) {
    height: 56px;
    width: 187px;
   }
  }
}

.logo--light {
   background-image: url(../images/logo-light.png);
}

.logo--black {
   background-image: url(../images/logo-black.png);
  }

