
.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 744px) {
    padding: 36px 72px;
  }

  @media (min-width: 1260px) {
    padding: 36px 120px;
  }

  &__icons{
   display: flex;
   align-items: center;
   gap: 24px;

     @media (min-width: 744px) {
      gap: 32px;
     }
  }

  &__logo {
  height: 38px;
  width: 130px;
  background-size: cover;

    @media (min-width: 744px) {
    height: 56px;
    width: 187px;
   }

  @media (min-width: 1260px) {
    height: 56px;
    width: 187px;
   }
  }
}

.logo--light {
   background-image: url(../images/logo-light.png);
}

.logo--black {
   background-image: url(../images/logo-black.png);
  }

